:root {
    --forum-primary-color: #212529;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

@media (min-width: 768px) {
    .profile-banner {
        height: 200px;
    }
}

.last-post .content>h1,
.last-post .content>h2,
.last-post .content>h3,
.last-post .content>h4,
.last-post .content>h5,
.last-post .content>h6 {
    font-size: 0.875rem;
}

.last-post .content img,
.last-post .content hr,
.last-post .content table tbody {
    display: none;

}

.children-m-0>* {
    margin: 0 !important;
}

/* Override links */
a {
    color: var(--forum-primary-color);
}

a:hover {
    color: var(--forum-primary-color);
}

.reply .reply-remove {
    transition: transform .25s ease-in-out;
    cursor: pointer;
}

.reply .reply-remove:hover {
    transform: rotate(90deg);
}

.bg-light {
    background-color: #f4f4f4 !important;
}

.bg-lighter {
    background-color: #fbfbfb !important;
}

.text-secondary {
    color: #5e5e5e !important;
}

small,
.small {
    font-size: 0.875em;
    line-height: 120%;
}

.lines-1 {
    line-height: 1.2rem !important;
    min-height: 1.2rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.link-secondary {
    color: #5e5e5e !important;
}

li.breadcrumb-item>a {
    --bs-link-underline-opacity: 0;
    color: #5d5d5d !important;
    -webkit-text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
    text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

li.breadcrumb-item>a:hover {
    --bs-link-underline-opacity: 1;
}

@media (min-width: 768px) {
    .border-md-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }
}

.reply:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    transition: box-shadow 0.2s;
}

.reply {
    transition: box-shadow 0.2s;
}

@keyframes shadowPulse {
    0% {
        box-shadow: none;
    }

    40% {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    60% {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    100% {
        box-shadow: none;
    }
}

.shadow-pulse {
    animation-name: shadowPulse;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.page-item.active .page-link {
    background-color: white;
    border-color: #0000003f;
    color: #5e5e5e;
}

.page-item.active .page-link::before {
    position: absolute;
    bottom: -13%;
    right: 4%;
    content: '';
    background-color: #5e5e5e;
    width: 30px;
    height: 1px;
}

.page-link,
.page-link:hover {
    color: #5e5e5e;
}

.form-group>button[type='submit'] {
    margin: 1em 0;
}

/* Kartik override */
span.input-group-text {
    background-color: #05060f0a;
    border: none;
    border-right: 1px solid #ced4da;
    ;
}

.kv-table-header {
    background: none;
}

.table-bordered>thead.kv-table-header>tr:nth-child(1),
.table-bordered>thead.kv-table-header>tr:nth-child(1)>th,
.table-bordered>thead.kv-table-header>tr:nth-child(1)>td {
    border-bottom: none;
    border-top: 1px solid lightgray;
}

.table-bordered>thead.kv-table-header {
    color: var(--primary-color);
}

table> :not(:first-child) {
    border-top: none !important;
}

.select2.select2-container {
    overflow: hidden;
}