.bg-light {
    background-color: #fafafa !important;
}

.bg-lighter {
    background-color: #f5f5f5 !important;
}

.text-secondary {
    color: #5d5d5d !important;
}

body {
    background-color: #fcfcfc !important;
}

small,
.small {
    font-size: 0.875em;
    line-height: 120%;
}

.lines-1 {
    line-height: 1.2rem !important;
    min-height: 1.2rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.link-secondary {
    color: #5d5d5d !important;
}

li.breadcrumb-item>a {
    --bs-link-underline-opacity: 0;
    color: #5d5d5d !important;
    -webkit-text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
    text-decoration-color: RGBA(var(--bs-secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

li.breadcrumb-item>a:hover {
    --bs-link-underline-opacity: 1;
}